.aquarium {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* hoặc chiều cao bạn muốn */
  background: linear-gradient(180deg, #e6f0ff, #ffffff);
}

.fish.school {
  position: absolute;
  width: 150px;
  height: 80px;
  background: url('goldFishSchool.png') no-repeat center/contain;
  animation: swimSchool 10s linear infinite;
  top: 20%;
  left: -200px;
}

@keyframes swimSchool {
  0% { left: -200px; transform: scaleX(1); }
  50% { left: calc(100% + 200px); transform: scaleX(-1); }
  100% { left: -200px; transform: scaleX(1); }
}

.turtle {
  position: absolute;
  width: 120px;
  height: 70px;
  background: url('turtle.png') no-repeat center/contain;
  animation: swimTurtle 20s ease-in-out infinite;
  top: 60%;
  left: -150px;
}

@keyframes swimTurtle {
  0% { left: -150px; top: 60%; transform: scaleX(1); }
  50% { left: calc(100% + 150px); top: 50%; transform: scaleX(-1); }
  100% { left: -150px; top: 60%; transform: scaleX(1); }
}

.shark {
  position: absolute;
  width: 180px;
  height: 100px;
  background: url('shark.png') no-repeat center/contain;
  animation: swimShark 15s linear infinite;
  top: 30%;
  left: calc(100% + 200px);
}

@keyframes swimShark {
  0% { left: calc(100% + 200px); transform: scaleX(-1); }
  50% { left: -200px; transform: scaleX(1); }
  100% { left: calc(100% + 200px); transform: scaleX(-1); }
}

.diver {
  position: absolute;
  width: 100px;
  height: 140px;
  background: url('diver1.png') no-repeat center/contain;
  animation: dive 12s ease-in-out infinite;
  top: -150px;
  left: 30%;
}

.diver.diver2 {
  left: 70%;
  animation-delay: 6s;
  background: url('diver2.png') no-repeat center/contain;
}

@keyframes dive {
  0% { top: -150px; opacity: 0; }
  30% { top: 40%; opacity: 1; }
  70% { top: 50%; opacity: 1; }
  100% { top: 100%; opacity: 0; }
}
